.loader{
    display: grid;
    place-items:center;
    position: fixed;
    background-color:#ffff;
    height: 100vh;
    inset:0;
    z-index: 1;
    opacity: 0.9;
    animation:loading 200ms 1.5s forwards;
    
    &::after{
        content: "";
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border-right: 6px solid transparent;
        border-top: 6px solid $primary;
        animation: spin 1s infinite linear;
    }
    
}   