* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}
body h1 {
  font-size: 28px;
  font-weight: 900;
}

.explorer p {
  font-size: 18px;
}

@keyframes rotating {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes card-appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header img {
  width: 170px;
  padding: 5px 0px;
}
header i {
  position: absolute;
  left: 3%;
  color: black;
  font-size: 20px;
  bottom: 20%;
}

footer {
  background: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
footer h4 {
  padding: 18px 0px 15px 23px;
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0;
}
footer ul {
  padding-left: 25px;
  padding-bottom: 16px;
  list-style: none;
  margin: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul i {
  margin-right: 10px;
}
footer ul a {
  color: white;
  text-decoration: none;
  padding-bottom: 15px;
}

.functioning h2 {
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 762px) {
  .functioning h2 {
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 13%;
  }
}
.functioning .functioning-list {
  margin-left: 14px;
  width: 96%;
  display: flex;
  flex-direction: column;
}
.functioning .functioning-list .functioning-card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #b8b5b5;
  background-color: #f6f6f6;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 18px;
  height: 70px;
  font-size: 16px;
  font-weight: 900;
  width: 40%;
  margin-top: 30px;
  justify-content: space-evenly;
  position: relative;
  left: 33%;
}
.functioning .functioning-list .functioning-card:hover {
  background-color: #f2eafb;
}
.functioning .functioning-list .functioning-card:hover i {
  color: #9356DC;
}
.functioning .functioning-list .functioning-card .functioning-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: -15px;
}
.functioning .functioning-list .functioning-card p {
  margin-right: 80px;
}
.functioning .functioning-list .functioning-card i {
  color: gray;
}
@media screen and (min-width: 762px) {
  .functioning .functioning-list .functioning-card {
    width: 40%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 992px) {
  .functioning .functioning-list .functioning-card {
    width: 97%;
    left: 0;
    padding-right: 6%;
    align-self: center;
  }
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 70px;
}
.restaurant h2 {
  margin-left: 25px;
  padding-top: 40px;
  margin-bottom: 18px;
}
.restaurant .restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurant .restaurant-list .restaurant-card {
  box-shadow: 5px 5px 15px #c7c7c7;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 40%;
  border-radius: 18px;
  margin-bottom: 35px;
  position: relative;
}
.restaurant .restaurant-list .restaurant-card img {
  width: 100%;
  height: 306px;
  object-fit: cover;
  object-position: 50% 61%;
  border-radius: 18px 18px 0 0;
  position: relative;
}
.restaurant .restaurant-list .restaurant-card .new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 20px;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #1b9779;
  font-size: 14px;
  font-weight: 500;
  top: 0;
  right: 8px;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description .restaurant-info {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description .restaurant-info h3 {
  margin: 8px 0 5px 15px;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description .restaurant-info p {
  margin: 0px 0px 17px 12px;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description .fa-heart {
  position: absolute;
  font-size: 25px;
  right: 20px;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description .fa-solid {
  opacity: 0;
  color: transparent;
  transition: all 300ms ease-in-out;
}
.restaurant .restaurant-list .restaurant-card .restaurant-description .fa-solid:hover {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  animation: fill 500ms ease-in forwards;
}
@media screen and (max-width: 762px) {
  .restaurant .restaurant-list .restaurant-card {
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
  }
  .restaurant .restaurant-list .restaurant-card img {
    height: 173px;
  }
}
@media screen and (max-width: 992px) {
  .restaurant .restaurant-list .restaurant-card {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .restaurant .restaurant-list {
    flex-direction: column;
    align-items: center;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  box-shadow: inset 0px 8px 12px -15px black;
  height: 46px;
  padding-left: 30px;
}
form input {
  background-color: #eeeeee;
  font-size: 15px;
  border: transparent;
}
form i {
  margin-right: 15px;
}

.explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 36px;
  text-align: center;
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loading 200ms 1.5s forwards;
}
.loader::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-right: 6px solid transparent;
  border-top: 6px solid #9356DC;
  animation: spin 1s infinite linear;
}

.button {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 30px;
  border: 0;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  color: white;
  box-shadow: 0px 5px 5px #c1c1c1;
  transition: all 300ms ease-in-out;
}
.button:hover {
  transform: scale(1.035);
  filter: brightness(1.1);
  box-shadow: 0px 12px 6px 1px #c1c1c1;
}

.container-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  padding-bottom: 15%;
  display: flex;
  flex-direction: column;
}
.menu .menu-title {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  margin-top: -40px;
}
.menu .menu-title .fa-heart {
  position: absolute;
  font-size: 25px;
  right: 20px;
}
.menu .menu-title .fa-solid {
  opacity: 0;
  color: transparent;
  transition: all 300ms ease-in-out;
}
.menu .menu-title .fa-solid:hover {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(200deg, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  animation: fill 500ms ease-in forwards;
}
.menu .menu-title h2 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 16px;
  margin-top: 34px;
}
.menu .menu-title i {
  top: 36px;
  margin-right: 15px;
}
.menu .menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
}
.menu .menu-list h3 {
  margin-left: 20px;
  margin-bottom: 0;
  font-weight: 100;
}
.menu .menu-list h3::after {
  content: "";
  background-color: #99E2D0;
  width: 50px;
  height: 3px;
  display: flex;
  margin-top: 5px;
}
.menu .menu-list .menu-card {
  margin: 20px 20px 0px 16px;
  display: flex;
  width: 91%;
  border-radius: 15px;
  box-shadow: 0 0 10px #b8b5b5;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  animation: card-appear 1s both;
}
.menu .menu-list .menu-card:nth-child(1) {
  animation-delay: 300ms;
}
.menu .menu-list .menu-card:nth-child(2) {
  animation-delay: 600ms;
}
.menu .menu-list .menu-card:nth-child(3) {
  animation-delay: 900ms;
}
.menu .menu-list .menu-card:nth-child(4) {
  animation-delay: 1200ms;
}
.menu .menu-list .menu-card:nth-child(5) {
  animation-delay: 1500ms;
}
.menu .menu-list .menu-card:nth-child(6) {
  animation-delay: 1800ms;
}
.menu .menu-list .menu-card:nth-child(7) {
  animation-delay: 2100ms;
}
.menu .menu-list .menu-card:nth-child(8) {
  animation-delay: 2400ms;
}
.menu .menu-list .menu-card:nth-child(9) {
  animation-delay: 2700ms;
}
.menu .menu-list .menu-card:nth-child(10) {
  animation-delay: 3000ms;
}
.menu .menu-list .menu-card:nth-child(11) {
  animation-delay: 3300ms;
}
.menu .menu-list .menu-card:nth-child(12) {
  animation-delay: 3600ms;
}
.menu .menu-list .menu-card .menu-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.menu .menu-list .menu-card .menu-details h4 {
  margin: 7px 5px 2px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu-list .menu-card .menu-details p {
  margin: 4px 0px 7px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu-list .menu-card .price {
  display: flex;
  margin-left: auto;
  padding-right: 15px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 7px;
  align-self: flex-end;
}
.menu .menu-list .menu-card .menu-select {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 60px;
  margin-right: -60px;
  transition: margin-right 0.5s;
}
.menu .menu-list .menu-card i {
  font-size: 13px;
  color: #99E2D0;
  background: white;
  padding: 4px;
  border-radius: 100%;
}
.menu .menu-list .menu-card:hover .menu-select {
  margin-right: 0;
}
.menu .menu-list .menu-card:hover i {
  animation: rotating 400ms linear forwards;
}
@media screen and (min-width: 762px) {
  .menu .menu-list {
    display: grid;
    margin-bottom: 46px;
    grid-template-columns: 0fr 1fr 1fr 1fr;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .menu .menu-list {
    display: flex;
  }
}
.menu .button {
  align-self: center;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

/*# sourceMappingURL=style.css.map */
