* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {

    margin: 0;


    h1 {
        font-size: 28px;
        font-weight: 900;

    }


}

.explorer {
    p {
        font-size: 18px;
    }
}